
<app-navbar></app-navbar>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
</head>
<body>

    <nav class="app-navbar">
        <div class="container">
            <!-- Add navigation links if needed -->
        </div>
    </nav>

    <section class="welcome-content">
        <div class="container">
            <h2> Welcome to Lavanya's Personal Budget App</h2>
            <p>Your financial snapshot at a glance.</p>

            <h3>Start Managing Your Expenses Effectively</h3>
            <p>ExpenseTracker is here to help you take control of your finances. With my user-friendly interface and powerful features, you can easily track your expenses, set budgets, and achieve your financial goals.</p>
            <p>Ready to get started? Use the navigation links above to explore the app and start managing your expenses today!</p>

            <img src="/register.svg" class="image" alt="" >
        </div>
    </section>

    <footer class="app-footer">
        <div class="container">
            <p>&copy; 2023 Lavanya's Personal Budget App. All rights reserved.</p>
        </div>
    </footer>

</body>
</html>





