body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.app-navbar {
  background-color: #3498db;
  color: #fff;
  padding: 10px 0;
}

.app-navbar h1 {
  font-size: 1.8em;
  margin: 0;
}

.chart-container {
  margin-top: 40px; /* Increased margin for more space */
  display: flex;
  justify-content: center;
}

.card {
  margin-top: 40px; /* Increased margin for more space */
  text-align: center;
}

.app-footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  margin-top: auto;
}
.ui-buttonset:not(.ui-splitbutton) .ui-button {
 font-size: 13px;
}
