<div class="container-fluid">
  <app-navbar></app-navbar>

  <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-3">
      <div *ngIf="data" class="chart-container">
        <h5 style="font-size: 20px;">Budget Chart</h5>
        <p-chart type="pie" [data]="data" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-3">
      <div class="card" *ngIf="basicData">
        <h5 style="font-size: 20px;">Budget Vs Expense</h5>
        <p-chart type="bar" [data]="basicData" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>

    <div class="col-md-1"></div>

    <div class="col-md-3">
      <div class="card" *ngIf="monthlyData">
        <h5 style="font-size: 20px;">Monthly Data</h5>
        <p-chart type="bar" [data]="monthlyData" [style]="{'width': '100%', 'font-size': '18px'}"></p-chart>
      </div>
    </div>

    <div class="col-md-1"></div>
  </div>

  <footer class="app-footer" style="font-size: 18px; position: absolute; bottom: 0; width: 100%; background-color: #428bca; color: #ffffff; text-align: center; padding: 10px 0;">
    <div class="container">
      <p>&copy; 2023 Lavanya's Personal Budget App. All rights reserved.</p>
    </div>
  </footer>
</div>
